

@mixin squareboi {
    border: 1px solid grey;
    width: 10px;
    height: 10px;
}

@mixin circleboi {
    border: 1px solid grey;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

@mixin ovalboi {
    position: relative;
    width: 10px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 50%;
}


@for $i from 1 through 50 {
  
  $duration: random(15);
  
  .shape--#{$i} {
    animation: spinner-#{$i} #{$duration}s linear infinite;
    
    @if $i % 3 == 1 {
      @include squareboi;
    }
    
    @if $i % 3 == 2 {
      @include circleboi;
    }
    
    @if $i % 3 == 0 {
      @include ovalboi;
    }
  }
  
}