.title {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: comfortaaregular, cursive;
}

.title__text {
    display: table-cell;
    font-size: 70px;
    z-index: 2;
    position: relative;
    color: #555;
    padding: 0 160px;
    line-height: 1.2;
    width:100%;
} 