@font-face {
    font-family: 'comfortaaregular';
    src: url('./_styles/fonts/comfortaa-regular.eot');
    src: url('./_styles/fonts/comfortaa-regular.eot?#iefix') format('embedded-opentype'),
         url('./_styles/fonts/comfortaa-regular.woff2') format('woff2'),
         url('./_styles/fonts/comfortaa-regular.woff') format('woff'),
         url('./_styles/fonts/comfortaa-regular.ttf') format('truetype'),
         url('./_styles/fonts/comfortaa-regular.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}   